h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.marginRight10{
	margin-right: 10px;
}
.glyphStyle {
	cursor: pointer;
}

.downloadIcon{
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}