<nav class="navbar navbar-default">
    <a href="#!" class="navbar-brand center">Employee Directory</a>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div>
</nav>
	<div class = "col-lg-offset-4 col-lg-4">
		<div *ngIf = "!forgotPwd ; else showFrgtPwd" class="col s8">
			<h5 class="header">Admin login</h5>
		<div class="alert alert-danger" *ngIf = "loginStatus">
			<span>Login failed, incorrect credidentials</span>
		</div>
		<form #adminForm="ngForm" novalidate (ngSubmit) = "adminForm.valid ? adminDetails() : 'return false'">
			<div>
				<div class="card-content">
					<div class = "form-group">
						<label for="" >Username</label>
							<input class="form-control" 
							name = "username" 
							type="text" 
							id = "username"
							[(ngModel)] = "details.username"
							placeholder = "Enter Username"
							required
							minlength = "2"
							maxlength = "50"
							#username="ngModel">
							<div *ngIf="adminForm.submitted && username.errors" class="error">
					          <div [hidden]="!username.errors.required">Username is required</div>
					          <div [hidden]="!username.errors.minlength">Username should be atleast 2 characters</div>
					        </div>
					</div>
					<div class = "form-group">
						<label for="">Password</label>
						<input 
						class="form-control" 
						name = "password"
						type="password" 
						id = "password"
						placeholder = "Enter password"
						[(ngModel)] = "details.password" 
						required
						minlength = "5"
						#password = "ngModel">
						<div *ngIf="password.errors && adminForm.submitted" class="error">
				          <div [hidden]="!password.errors.required">Password is required</div>
				          <div [hidden]="!password.errors.minlength">Password should be atleast 5 characters long</div><br>
				        </div> 
					</div> 
					<button 
					type="submit"
					id = "submitAdminDetls"
					class="btn btn-primary" 
					>Login</button>
				</div>
				<div>
		          <a (click) = "fogtPwd()"
						id = "forgotPwdLink"
						style="cursor : pointer" 
		          >Forgot password</a> <br>
		          <a style="cursor:pointer" 
   					(click)='popUpWindow()'>Login from External Resource</a>
		        </div>
			</div>
		</form>
		</div>
		<ng-template #showFrgtPwd>
			<h5 class="header">Enter Your registered Email ID</h5>
			<form #adminFForm="ngForm" novalidate class="card horizontal col s8" (ngSubmit) = "adminFForm.valid ? adminDetails() : 'return false'">
				<div>
					<div class="form-group">
						<label for="">Email ID</label>
						<input class="form-control" 
						type="email"
						placeholder = "Enter Email Id"
						id = "forgotPwdEmail"
						name = "forgotPwdEmail"
						[(ngModel)] = "fogtpwd" 
						#forgotPwdEmail = "ngModel"
						required>
						<div *ngIf="adminFForm.submitted && forgotPwdEmail.errors" class="error">
					          <div [hidden]="!forgotPwdEmail.errors.required">Email Id is required</div> <br>
					        </div>
					</div>
					<button type="submit" 
					class="btn btn-primary"
					id = "submitFgtPwd"
					>Submit</button>
					<a class="btn btn-default" (click) = "backToLogin()">Back to Login</a>
				</div>
			</form>
		</ng-template>
		
	</div>
